
html, body {
  font-family: 'Nunito'
}
.ant-card-bordered, .ant-card-hoverable:hover {
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0);
  border-radius: 18px;
  margin-bottom: 20px;
}

.ant-card-body {
  padding: 5px;
  padding-top: 15px;
}

.ant-divider-horizontal {
  margin-bottom: 12px;
  margin-top: 0px;
}

.ant-card-cover img {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  border-radius: 12px;
}

.container {
  padding: 0 35px;
}

.ant-card img{
  transition: all .2s ease-in-out;
}

.ant-card:hover img {
  transform: scale(1.1);
}

.background {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.t {
  font-size: 17px !important;
  font-weight: 700 !important;
  margin-bottom: 0px !important;
}

.p {
  font-size: 13px !important;
  margin-bottom: 0px !important;
}

.back {
  position: fixed;
  top: 15px;
  left: 15px;
  color: white;
  font-size: 16px;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #00000080;
  z-index: 1000;
}

.back svg {
  position: relative;
  top: 11px;
  right: 1px;
}