
html, body {
  font-family: 'Nunito';
  font-size: 15px;
}


.ant-card-bordered, .ant-card-hoverable:hover {
  border: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  border-radius: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

.ant-card-meta-detail {
  padding: 5px;
}

.ant-card-meta-title {
  margin-bottom: 0!important;
}

.ant-card-body {
  padding: 5px;
  padding-top: 15px;
}

.ant-divider-horizontal {
  margin-bottom: 12px;
  margin-top: 0px;
}

.container {
  padding: 0 35px;
}

.background {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.t {
  font-size: 17px !important;
  font-weight: 700 !important;
  margin-bottom: 0px !important;
}

.p {
  font-size: 13px !important;
  margin-bottom: 0px !important;
}

.back {
  position: fixed;
  top: 15px;
  left: 15px;
  color: white;
  font-size: 16px;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #00000080;
  z-index: 1000;
}

.back svg {
  position: relative;
  top: 11px;
  right: 1px;
}

#root {
  min-height: 100%;
  height: 100%;
}

.landing {
  height: 100%;
  background: linear-gradient(20deg, #11998E 0%, #38ef7d 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: white;
}

.home-button, .home-button:hover {
  background-color: transparent;
  border-color: white;
  border-width: 4px;
  font-size: 24px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto
}

.t2 {
  font-size: 20px !important;
  font-weight: 800 !important;
  margin-bottom: 0px !important;
}

.workout {
  background: linear-gradient(20deg, #11998E 0%, #38ef7d 100%);
  height: 100%;
}

.workout-button {
  background-color: transparent;
  border-color: white;
  border-width: 4px;
  font-size: 24px;
  padding: 8px 14px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: auto;
}